.cen-left-table{
    width:190px;
    height:510px;
    
}
    .cen-left-table table{
        width:100%;
        height:100%;
        border:solid 1px #F94A14;
      
}
.cen-left-table table td{
    font-size:14px;
   
   
    color:#666;
   text-indent: 2em;
    overflow: hidden;
}
.cen-left-table table td:after{
    content:">";
    float:right;
}

.cen-left-table table td:hover{
    background-color: pink;
    color:#ff5000;
    text-decoration:underline;
}

.cen-main{
    width:700px;
    height:510px;
   background-color: #f1f1f1;
    position: absolute;
    left:190px;
    top:170px;
}

.cen-botom{
    height:210px;
    width:520px;
   border-top:solid red 2px;
    position:absolute;
    top:300px;
    left:5px;
}
.cen-botom-cenimg{
    width:250px;
    height:190px;
    position: absolute;
    top:10px;
    right:10px;
}
.cen-botom-leftimg{
    width:250px;
    height:190px;
    position: absolute;
    top:10px;
    left:0px;
}
  
  .lbt-right{
    position: absolute;
    top:10px;
    left:530px;
  }

  .cen-botom-right{
      width:160px;
      height:200px;
      position: absolute;
      left:530px;
      top:305px;
  }
  
  .cen-cen-right{
      width:290px;
      height:510px;
      position: absolute;
      right:0px;
      top:170px;
      
  }

  .cen-cen-right-log{
      height:50px;
      width:50px;
      position: relative;
      left:120px;
      top:10px;
      border-radius: 50%;
      
  }

  .cen-cen-right span{
      text-align: center;
    position: relative;
    left:65px;
    top:30px;
  }
  .cen-cen-right-a1,
  .cen-cen-right-a2
  {
      position: absolute;
      top:83px;
      font-size:12px;
      line-height: 12px;
      color:#ff5000;
      border-radius: 9px;
      border:solid 1px;
      background-color: #ffe4db;
      padding:1px 3px;
      text-indent: 1em;
  }
  .cen-cen-right-a1::before,
  .cen-cen-right-a2::before{
         
        text-indent: 0;
          content:"$";
          
         
      float:left;
  }
 
  .cen-cen-right-a1{
    left:50px;
  }
  
  .cen-cen-right-a2{
      left:160px;
  }

  .buto{
      background-color: #ff5000;
      border:solid 0;
     outline: none;
      height:25px;
      font-size:12px;
      font-weight: bolder;
      color:white;
      text-align: center;
      line-height: 25px;
      border-radius: 5px;
      position: absolute;
      cursor:pointer;
  }
  .dl{
    width:90px;
      left:20px;
      top:110px;
  }
  .zc{
      width:75px;
    left:120px;
    top:110px;
  }
  .kd{
      width:75px;
      left:205px;
      top:110px;
  }

  .cen-cen-right-img{
      width:290px;
      height:65px;
      position: absolute;
      top:137px;
      left:0px;
      
  }
  .tab-box{
      height:45px;
      width:290px;
     
      position: relative;
      top:150px;
      left:0;

      }
  .tab-head-div{
      font-size:12px;
      text-align: center;
      float:left;
      width:20%;
      height:20px;
      color:black;
      line-height: 20px;
  }
  
  .tab-body-div{
    
      display: none;
      
     
  }
  .tab-head .current{
      border-bottom: solid 2px  #ff5000;
  }
  .tab-body .current{
      display:block;
      text-indent: 2em;
      padding-top:5px;
      height:20px;
      line-height:15px;
      clear:both;
      font-size:12px;
      font-weight: bolder;
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
  }

  .bigBox{
      width:290px;
      height:258px;
     
      position: relative;
      top:155px;

  }

  .head-tab{
      position: relative;
      top:0px;
      width:100%;
      height:65px;
     
      padding:1px 1px 0 1px;
      
  }
   .bottom-border{
    border-bottom: 1px solid red;
   }
  .head-div{
      height:100%;
      width:24%;
      float:left;
     
  }

  .head-div div{
      width:24px;
      height:24px;
      position: relative;
      left:-10px;
      top:-24px;
      margin-left:50%;
      margin-top:50%;
  }

  .head-div span{
      text-align: center;
      position: relative;
      left:23px;
      top:-25px;
      font-size:12px;
      color:black;
  }
  .head-tab .only span{
      color:red;
  }
  .head-tab .only{
   border-top: 1px  #ff5000 solid;
   border-right:1px  #ff5000 solid;
   border-left:1px  #ff5000 solid;
   border-bottom: none;
  }
  .body-div.only{
      display:block;
  }
  
   .body-div{
      border:solid 0.5px #ff5000;
      border-top:none;
      border-right:none;
       height:190px;
       display:none;
     
   }
  .body-body-tab{
      width:100%;
      height:10px;
      position: absolute;
      top:75px;
      left:8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .body-body-tab div{
      margin-right: 10px;
      width:auto;
      float:left;
      font-size:12px;
     line-height: 20px;
      height:20px;
     
  }
  .telephone{
      position: absolute;
      top:50px;
      left:10px;
      width:165px;
      height:20px;
      outline: none;
  }
  .telephone-price{
      outline: none;
    position: absolute;
    top:80px;
    left:10px;
    width:165px;
      height:20px;
  }

  .chonghuafei{
     
      height:185px;
      position:relative;
      top:15px;
  }
  .chonghuafei span{
      position: absolute;
      left:10px;
      top:105px;
  }
  .chonghuafei button{
      font-size:12px;
      text-align: center;
      color:white;
      background-color: #f40;
      width:100px;
      height:30px;
      outline: none;
      border-radius: 10px;
      border:none;
      position: absolute;
      top:130px;
      left:10px;
  }



  .botom-img1,
  .botom-img2,
  .botom-img3,
  .botom-img4,
  .botom-img5{
      position: absolute;
      width:230px;
      height:90px;
      top:690px;
  }

  .botom-img2{
      
      left:405px;
  }
  .botom-img3{
      left:640px;
  }
  .botom-img4{
      left:876px;
  }
  .botom-img5{
      left:1112px;
  }

  .money{
      color:#f60;
      font-weight: 700;
    font-family: verdana,arial;
    width:10px;
  }
 

#game{
    position: absolute;
    top:20px;
    left:15px;
    width:260px;
     
}